/*
 * Basic styles
**/

    @font-face {
        font-family: "slight";
        src: url("../fonts/slight.eot");
        src: url("../fonts/slight.eot?#iefix") format("embedded-opentype"),
             url("../fonts/slight.ttf") format("truetype"),
             url("../fonts/slight.svg#slight") format("svg"),
             url("../fonts/slight.woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }

    body {
        transition: all 300ms ease-in-out;
        -webkit-transition: all 300ms ease-in-out;
    }
        p, h1 {
            outline: none;
        }

        p {
            padding-bottom: 32px;
        }

        button {
          margin: 0;
          background-color: transparent;
          border: 0;
        }

        img {
            display: block;
            max-width: 550px;
            margin: 0 auto;
        }



/*
 * Content
**/

    #header {
        margin: 40px 0 25px 0;
        font-size: 28px;
        font-family: source-serif-pro, serif;
        font-weight: 300;
        text-align: center;
        -webkit-transition: all 300ms ease-in-out;
           -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
             -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
    }

    #bodytext {
        max-width: 550px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        font-family:source-serif-pro;
        text-align: left;
        text-indent: 50px;
        -webkit-transition: all 300ms ease-in-out;
           -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
             -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
    }



/*
 * Action buttons
**/

    .action-btn {
        position: fixed;
        bottom: 16px;
        font-family:'slight';
        font-size: 28px;
        line-height: 1;
        -webkit-transition: all 300ms ease-in-out;
           -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
             -o-transition: all 300ms ease-in-out;
                transition: all 300ms ease-in-out;
    }
    .action-btn:hover {
        cursor: pointer;
        color: #747474;
    }

    .action-btn--toggle-font { left: 16px; }
    .action-btn--toggle-font:before { content: "a"; }

    .action-btn--download-content { left: 96px; }
    .action-btn--download-content:before { content: "d"; }

    .action-btn--toggle-contrast { left: 56px; }
    .action-btn--toggle-contrast:before { content: "b"; }



/*
 * Media queries
**/

    @media (max-width: 500px) {
        #bodytext {
            width: 300px;
            padding-top: 10px;
            font-size: 18px;
        }
        #header {
            margin-top: 25px;
            font-size: 26px;
        }
    }

    @media (max-width: 300px) {
        #bodytext {
            max-width: 100%;
        }
        #header {
            max-width: 100%;
        }
    }
